@model AirportApplication.Models.Seat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AisleTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AisleTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindowTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindowTaken)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
