@model IEnumerable<AirportApplication.Models.Seat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seat Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatRow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AisleTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WindowTaken)
            </th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatRow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AisleTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindowTaken)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
