@model IEnumerable<AirportApplication.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Country Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryName }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryName })
        </td>
    </tr>
}
    </tbody>
</table>
